#content {
    display: inline-block;
}

#content drawcanvas{
    display: inline-block;
}

#content anglePanel{
    display: inline-block;
}

#content {
    display: inline-block;
}


table, th, td {
    border: 1px solid;
    font-size: 12pt;
}
